################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gruppuppgift/obj
/Gruppuppgift/.vs/Gruppuppgift/CopilotIndices/17.14.1091.29919
/Gruppuppgift/.vs/Gruppuppgift/v17
*.vsidx
/.vs/GruppUppgift16-1/v17
*.v2
/.vs/GruppUppgiftGit/v17
